.DS_Store
.env.local
.next
next-env.d.ts
node_modules
tsconfig.tsbuildinfo
playwright-report
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/swe-worker-*.js
tests/.auth
test-results
.vscode/*
.claude/*
CLAUDE.md
context-ai/*
